{% extends 'base.html.twig' %}

{% block title %}ofrre d'emploi{% endblock %}

{% block body %}

<label for="file">deposez votre CV ici</label>
<input type="file" name="file" id="file">

{% endblock %}