{% extends 'base.html.twig' %}

{% block title %}ofrre d'emploi{% endblock %}

{% block body %}


        <p class=" mt-3">Quel poste recherchez vous</p>
<form class="d-flex" role="Recherhe">

<input class="form-control me-3 md-2 mb-3 mt-1" type="Recherche" placeholder="Métier,secteurd'activité ,mots-clés" aria-label="Search">
<input class="form-control me-3 md-4 mb-3 mt-1" type="Recherche" placeholder="Ville,département,région,mot clés" aria-label="Search">
<button class="btn btn-success me-3 md-4 mb-3 mt-3" type="submit">
  Recherche

</button>
</form>

<!-- Example split danger button -->
<div class="btn-group col-3 col-md-2 mb-3 ms-4 mt-3">
  <button type="button" class="btn btn-danger">Fontion</button>
  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Contrat</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>
<!-- Example split danger button -->
<div class="btn-group col-3 col-md-2 mb-3 ms-4 mt-3">
  <button type="button" class="btn btn-danger">Contrat</button>
  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">salaire</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>
<!-- Example split danger button -->
<div class="btn-group col-3 col-md-2 mb-3 ms-4 mt-3">
  <button type="button" class="btn btn-danger">salaire</button>
  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>
<!-- Example split danger button -->
<div class="btn-group col-3 col-md-2 mb-3 ms-4 mt-3">
  <button type="button" class="btn btn-danger">secteur</button>
  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>
<!-- Example split danger button -->
<div class="btn-group col-3 col-md-2 mb-3 ms-4 mt-3">
  <button type="button" class="btn btn-danger">pays</button>
  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>

<div class="row mt-3 bg-light">
    <h3 class="text-center">
        Nos dernières offres d'emplois
    </h3>

    <div class="col-6 col-md-4 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="color:blueviolet;">Titre de l'annonce</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="font-style: italic; font-weight:bold;">Nom de l'entreprise</h6>
                <p class="card-text">
                    Une description...
                </p>
                <a href="#" class="card-link">voir l'offre</a>
            </div>
        </div>
    </div>

    <div class="col-6 col-md-4 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="color:blueviolet;">Titre de l'annonce</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="font-style: italic; font-weight:bold;">Nom de l'entreprise</h6>
                <p class="card-text">
                    Une description...
                </p>
                <a href="#" class="card-link">voir l'offre</a>
            </div>
        </div>
    </div>

    <div class="col-6 col-md-4 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="color:blueviolet;">Titre de l'annonce</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="font-style: italic; font-weight:bold;">Nom de l'entreprise</h6>
                <p class="card-text">
                    Une description...
                </p>
                <a href="#" class="card-link">voir l'offre</a>
            </div>
        </div>
    </div>

    <div class="col-6 col-md-4 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="color:blueviolet;">Titre de l'annonce</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="font-style: italic; font-weight:bold;">Nom de l'entreprise</h6>
                <p class="card-text">
                    Une description...
                </p>
                <a href="#" class="card-link">voir l'offre</a>
            </div>
        </div>
    </div>

    <div class="col-6 col-md-4 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="color:blueviolet;">Titre de l'annonce</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="font-style: italic; font-weight:bold;">Nom de l'entreprise</h6>
                <p class="card-text">
                    Une description...
                </p>
                <a href="#" class="card-link">voir l'offre</a>
            </div>
        </div>
    </div>

    <div class="col-6 col-md-4 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="color:blueviolet;">Titre de l'annonce</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="font-style: italic; font-weight:bold;">Nom de l'entreprise</h6>
                <p class="card-text">
                    Une description...
                </p>
                <a href="#" class="card-link">voir l'offre</a>
            </div>
        </div>
    </div>

    <div class="text-center">
        <a href="#" title="voir les dernières offres">
            <button type="button" class="btn" style="border-radius: 30px; background-color: blueviolet; color:white;">VOIR PLUS</button>
        </a>
    </div>
</div>

{% endblock %}