<footer class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p>
                Copyright &copy; Pro_Emploi
                        
            </p>
        </div>
    </div>
</footer>
